* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "League Spartan", sans-serif;
    min-height: 100%;;
    margin: 0;
    color: white;
}


/* =========================================================
                HEADER
   ========================================================= */
.header {
    width: 100%;
    background-image: url("../assets/img/VERMELHO-TOPO.png");
    background-size: contain;
    padding: 10px 0;
    text-align: center;
}

.logo {
    width: 850px;
    height: auto;
    margin: 20px auto 0;
    display: block;
}

.apresenta {
    font-family: "League Spartan", sans-serif;
    font-weight: 900;      
    font-size: 35px;       
    color: #ffffff;
    letter-spacing: 1px; 
    margin: 0;   
    margin-top: 20px;
    text-transform: uppercase;
}

.card-header {
    width: 18%; 
    background: linear-gradient(90deg, #caa651, #f6e08a, #caa651);
    color: #013220;
    padding: 10px 0px;
    border-radius: 12px; 
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 1.2;
    margin-top: 50px;
    margin-bottom: 100px; 
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1); 
    margin-left: 620px;
}

.arrow {
    color: white;               
    text-align: center;        
    margin: 20px auto;          
    margin-bottom: 10px;
    margin-top: -50px;
    animation: descer 1.3s infinite ease-in-out;
    cursor: default;          
}

/* animação descendo e subindo */
@keyframes descer {
    0% { transform: translateY(0); opacity: 1; }
    50% { transform: translateY(10px); opacity: 0.6; }
    100% { transform: translateY(0); opacity: 1; }
}
    



/* =========================================================
            SEÇÃO VERDE: CINEMA E FÁBRICA DO PAPAI NOEL 
   ========================================================= */
.verde-noel {
    background-image: url("../assets/img/VERDE.png");
    background-repeat: no-repeat;
    background-size: cover;      
    background-position: top center;
    min-height: 100vh;           
    width: 100%;                 
    padding-bottom: 80px;
    padding-top: 100px;  
}

/* =========================================================
                FABRICA DO PAPAI NOEL
   ========================================================= */

.container-noel {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
    position: relative;
}


/* coluna esquerda */
.col-esq {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -250px;
    margin-left: -30px;
    
}

/* img fabrica do papai noel */
.img-papai-noel {
    width: 70%; 
    margin-top: 300px; 
    margin-bottom: 20px;
    margin-left: 400px;
}

/* cards brancos da coluna esquerda */
.card {
    width: 70%; 
    background: white;
    color: #013220;
    padding: 10px 0px;
    border-radius: 12px; 
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px; 
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1); 
    transform: translateX(200px);
}
.card:hover {
    background: linear-gradient(90deg, #caa651, #f6e08a, #caa651);
    transition: 0.4s ease;
}
/* texto info abaixo dos cards */
.card-info {
    font-size: 16px;
    margin-top: 5px;
    transform: translateX(200px);
}

/* coluna direita - Texto descritivo - tabela - botao de inscriçao */
.col-dir {
    width: 100%;
    display: flex;               
    flex-direction: column;      
    align-items: center;
    margin-top: -150px;         
    margin-left: 400px;
}

/* texto do paragrafo */
.noel-text {
    font-size: 22px;
    line-height: 1.2; 
    margin-bottom: 30px;
    margin-top: 230px;
    margin-left: -200px;
    
}

/* tabela e horarios */
.tabela {
    width: 100%;
    border-collapse: collapse; 
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: -200px;
    background: transparent; /* deixamos transparente */
    border-radius: 6px;
    overflow: hidden;
    font-size: 17px;
    transition: 0.3s ease; /* suave */
    
}

.tabela:hover {
    background: linear-gradient(90deg, #caa651, #f6e08a, #caa651);
    transition: 0.4s ease;
}

/* cabeçalho da tabela */
.tabela th {
    background: #013220;
    padding: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    
}

/* ceulas da tabela */
.tabela td {
    padding: 25px;
    border-bottom: 1px solid rgba(255,255,255,0.08);
    vertical-align: top;
}

.tabela tr {
    text-align: center;
    font-size: 18px;
}


/* botao de inscriçao */
.btn-inscricao {
    display: inline-block;
    background: white;
    color: #013220; 
    padding: 18px 40px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 14px;
    text-decoration: none; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    overflow: hidden;
     isolation: isolate;
    margin-top: -2px;
    margin-left: -200px;
    transition: 0.3s ease;
}

/* brilho */
.btn-inscricao::before {
    content: "";
    position: absolute;
    top: 0;
    left: -120%;                    /* começa fora da esquerda */
    width: 50%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(255,255,255,0.8),
        transparent
    );
    transform: skewX(-20deg);
    transition: 0s;
}

/* Efeito dourado */
.btn-inscricao:hover {
    background: linear-gradient(90deg, #caa651, #f6e08a, #caa651);
    color: #013220;
    transform: scale(1.05);
}

/* animação do brilho passando */
.btn-inscricao:hover::before {
    animation: shine 0.8s forwards;
}

/* keyframes */
@keyframes shine {
    0%   { left: -120%; }
    100% { left: 150%; }
}


/* =========================================================
                CINEMA 
   ========================================================= */
   
.img-cinema{
    width: 20%; 
    margin-top: 100px; 
    margin-bottom: 20px;
}
.bloco-filmes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    
}

.filmes-card {
    width: 20%; 
    background: white;
    color: #013220;
    padding: 10px 0px;
    border-radius: 12px; 
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px; 
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1); 
    
}
.filmes-card:hover {
    background: linear-gradient(90deg, #caa651, #f6e08a, #caa651);
    transition: 0.4s ease;
}

.filmes-card.verde {
    background: #013220;
    color: white;
}




/* =========================================================
                NATAL NOS MUNICIPIOS
   ========================================================= */
.lilas-noel {
    background-image: url("../assets/img/VERDE.png");
    background-repeat: no-repeat;
    background-size: cover;      
    background-position: top center;
    min-height: 100vh;           
    width: 100%;                 
    padding-bottom: 80px;
    padding-top: 100px;  
}

.img-municip {
    width: 25%; 
    margin-left: 560px;
    margin-bottom: 70px;
}
.municip-card {
    width: 15%; 
    background: white;
    color: #013220;
    padding: 10px 0px;
    border-radius: 12px; 
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1); 
    margin-left: 630px;
    margin-bottom: -50px;
    margin-top: -50px;
}
.municip-card:hover {
    background: linear-gradient(90deg, #caa651, #f6e08a, #caa651);
    transition: 0.4s ease;
}
.municip-text {
    width: 70%;
    margin: 0 auto;       /* centraliza horizontal */
    text-align: justify;   /* centraliza o texto */
    font-size: 22px;
    line-height: 1.4;
    font-weight: 400;
    color: white;
    margin-left: 270px;
    margin-bottom: 70px;
    margin-top: 80px; /* ajuste se quiser aproximar ou distanciar */
}
    
/*    tabela  */
table.municip-programacao {
    width: 60%;
    border-collapse: collapse;
    background: transparent; /* deixamos transparente */
    border-radius: 6px;
    overflow: hidden;
    font-size: 17px;
    margin-top: 0px;
    margin-left: 350px;
    transition: 0.3s ease; /* suave */
}


/* cabeçalho */ 
table.municip-programacao thead th {
    background: #013220;
    padding: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
}


/* celulas */
table.municip-programacao td {
    padding: 30px;
    border-bottom: 1px solid rgba(255,255,255,0.08);
    vertical-align: top;
}


/* Linhas alternadas */


/* hover */
table.municip-programacao tr:hover {
    background: linear-gradient(90deg, #caa651, #f6e08a, #caa651);
    transition: 0.4s ease;
}

/* =========================================================
                NATAL NOS CETIS
   ========================================================= */

.img-cetis {
    width: 25%; 
    margin-left: 560px;
    margin-bottom: 70px;
}

.cetis-text {
    width: 70%;
    margin: 0 auto;       /* centraliza horizontal */
    text-align: justify;   /* centraliza o texto */
    font-size: 22px;
    line-height: 1.4;
    font-weight: 400;
    color: white;
    margin-left: 270px;
    margin-bottom: 70px;
    margin-top: 80px; /* ajuste se quiser aproximar ou distanciar */
}
    
/*    tabela  */
table.cetis-programacao {
    width: 60%;
    border-collapse: collapse;
    background: transparent; /* deixamos transparente */
    border-radius: 6px;
    overflow: hidden;
    font-size: 17px;
    margin-top: 0px;
    margin-left: 350px;
    transition: 0.3s ease; /* suave */
}


/* cabeçalho */ 
table.cetis-programacao thead th {
    background: #013220;
    padding: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
}


/* celulas */
table.cetis-programacao td {
    padding: 30px;
    border-bottom: 1px solid rgba(255,255,255,0.08);
    vertical-align: top;
}


/* Linhas alternadas */


/* hover */
table.cetis-programacao tr:hover {
    background: linear-gradient(90deg, #caa651, #f6e08a, #caa651);
    transition: 0.4s ease;
}


/* =========================================================
                FOOTER
   ========================================================= 
footer {
    
    background-image: url("../assets/img/VERDE.png");
    padding: 30px 0;
    text-align: center;
}*/