* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "League Spartan", sans-serif;
    min-height: 100%;;
    margin: 0;
    color: white;
}


/* =========================================================
                HEADER
   ========================================================= */
.header {
    width: 100%;
    background-image: url("../assets/img/VERMELHO-TOPO.png");
    padding: 10px 0;
    text-align: center;
}

.logo {
    width: 850px;
    height: auto;
    margin: 20px auto 0;
    display: block;
}

.apresenta {
    font-family: "League Spartan", sans-serif;
    font-weight: 900;      
    font-size: 35px;       
    color: #ffffff;
    letter-spacing: 1px; 
    margin: 0;   
    margin-top: 20px;
    text-transform: uppercase;
}

/* =========================================================
            SEÇÃO VERDE: CINEMA E FÁBRICA DO PAPAI NOEL 
   ========================================================= */
.verde-noel {
    background-image: url("../assets/img/VERDE.png");
    background-repeat: no-repeat;
    background-size: cover;      
    background-position: top center;
    min-height: 100vh;           
    width: 100%;                 
    padding-bottom: 80px;
    padding-top: 100px;  
}

/* =========================================================
                CINEMA 
   ========================================================= */
   
.img-cinema{
    width: 20%; 
    margin-top: 100px; 
    margin-bottom: 20px;
}
.bloco-filmes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    
}

.filmes-card {
    width: 20%; 
    background: white;
    color: #013220;
    padding: 10px 0px;
    border-radius: 12px; 
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px; 
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1); 
    
}

.filmes-card.verde {
    background: #013220;
    color: white;
}


/* =========================================================
                FABRICA DO PAPAI NOEL
   ========================================================= */

.container-noel {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
    position: relative;
}


/* coluna esquerda */
.col-esq {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;
    margin-left: 70px;
    
}

/* img fabrica do papai noel */
.img-papai-noel {
    width: 70%; 
    margin-top: 300px; 
    margin-bottom: 20px;
    margin-left: 400px;
}

/* cards brancos da coluna esquerda */
.card {
    width: 70%; 
    background: white;
    color: #013220;
    padding: 10px 0px;
    border-radius: 12px; 
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px; 
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1); 
    transform: translateX(200px);
}

/* texto info abaixo dos cards */
.card-info {
    font-size: 16px;
    margin-top: 5px;
    transform: translateX(200px);
}

/* coluna direita - Texto descritivo - tabela - botao de inscriçao */
.col-dir {
    width: 40%;
    display: flex;               
    flex-direction: column;      
    align-items: center;         
    margin-left: 500px;
}

/* texto do paragrafo */
.texto {
    font-size: 19px;
    line-height: 1.2; 
    margin-bottom: 30px;
    margin-top: 230px;
    margin-left: -200px;
    
}

/* tabela e horarios */
.tabela {
    width: 100%;
    border-collapse: collapse; 
    margin-bottom: 10px;
    margin-top: -20px;
    margin-left: -200px;
    
}

/* cabeçalho da tabela */
.tabela th {
    background: white;
    color: #013220; /* Verde natal */
    padding: 12px;
    font-size: 18px;
    
}

/* ceulas da tabela */
.tabela td {
    padding: 14px;
    font-size: 19px;
    border: 1px solid rgba(255,255,255,0.4); 
    text-align: center;
}

/* botao de inscriçao */
.btn-inscricao {
    display: inline-block;
    background: white;
    color: #013220; 
    padding: 18px 40px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 14px;
    text-decoration: none; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); 
    margin-top: -2px;
    margin-left: -200px;
    
}

/* efeito no hover */
.btn-inscricao:hover {
    transform: scale(1.05); 
}


/* =========================================================
                NATAL NOS MUNICIPIOS
   ========================================================= */
.lilas-noel {
    background-image: url("../assets/img/LILÁS.png");
    background-repeat: no-repeat;
    background-size: cover;      
    background-position: top center;
    min-height: 100vh;           
    width: 100%;                 
    padding-bottom: 80px;
    padding-top: 100px;  
}

.img-municip {
    width: 25%; 
     
    margin-bottom: 20px;
    margin-left: 700px;
}
    
/*    tabela  */
table.programacao {
    width: 60%;
    border-collapse: collapse;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(2px);
    border-radius: 6px;
    overflow: hidden;
    font-size: 17px;
    margin-top: 0px;
    margin-left: 350px;
}

/* cabeçalho */ 
table.programacao thead th {
    background: #4d0a68;;
    padding: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
}

/* celulas */
table.programacao td {
    padding: 30px;
    border-bottom: 1px solid rgba(255,255,255,0.08);
    vertical-align: top;
}

/* Linhas alternadas */
table.programacao tr:nth-child(even) {
    background: rgba(255,255,255,0.04);
}

/* hover */
table.programacao tr:hover {
    background: rgba(255,255,255,0.10);
    transition: 0.2s;
}




/* =========================================================
                FOOTER
   ========================================================= */
footer {
    background-image: url("../assets/img/VERMELHO-TOPO.png");
    padding: 30px 0;
    text-align: center;
}