* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    min-height: 100%;;
    margin: 0;
}

body {
  font-family: "League Spartan", sans-serif;
  
  display: flex;
  flex-direction: column;
  
}

main {
  flex: 1;
  margin: 0;
  padding: 0;
    
}

.logo {
    width: 850px;
    height: auto;
    margin: 20px auto 0;
    display: block;
}

header {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    background-image: url("../assets/img/VERMELHO-TOPO.png");
}

header .apresenta {
    font-family: "League Spartan", sans-serif;
    font-weight: 900;      
    font-size: 35px;       
    color: #ffffff;
    letter-spacing: 1px; 
    margin: 0;   
    margin-top: 20px;
    text-transform: uppercase;
}

footer {
    width: 100%;
    margin: 0;
    padding: 40px 0 20px;;
    text-align: center;
    background-image: url("../assets/img/VERMELHO-TOPO.png");
}

.fabrica-do-papai-noel {
  background-image: url("../assets/img/VERDE.png");
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px; 
  
}

.img-papai-noel {
  width: 250px;
    height: auto;
    margin: 20px auto 0;
    ;
}